@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Removes the tap highlight (blue square on mobile) */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Removes the blue focus outline from inputs and buttons */
input, button, textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}


#root{
  width: 100%;
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: outfit;
  scroll-behavior: smooth;
  
}
body{
  min-height: 100vh;
  min-width: 90vw;
  

}
a{
  text-decoration:none;
  color:inherit;
}
.app{
  width: 85%;
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}